# SPDX-FileCopyrightText: 2021 Robin Schneider <ypid@riseup.net>
#
# SPDX-License-Identifier: CC0-1.0

.gitignore      export-ignore
.gitattributes  export-ignore
.reuse          export-ignore
LICENSES        export-ignore
