# SPDX-FileCopyrightText: 2021 Robin Schneider <ypid@riseup.net>
#
# SPDX-License-Identifier: CC0-1.0

Filippo Rigotto <rigottofilippo@altervista.org> <verdephilip@gmail.com>
sd44 <sd44sd44@yeah.net>
